.weather {
  margin: 0 20px;
}

.weather .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather .card {
  padding: 20px;
  margin: 10px;
}

.weather .card-text {
  text-align: center;
}
