header {
  background-color: blue;
  color: white;
  padding: 20px;
  /* border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
}

form,
form > div {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.form-label {
  width: 120px;
  margin-bottom: 0 !important;
  font-weight: 500;
}

main {
  margin: 20px;
}

.alert-info {
  height: fit-content;
}

.map-weather-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.map-weather-container > * {
  margin: 5px;
}

h2 {
  text-align: center;
  text-transform: capitalize;
  background-color: rgb(84, 84, 213);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  width: fit-content;
  margin: auto auto;
}

h3 {
  text-align: center;
  text-transform: capitalize;
}

/* p, */
.h5 {
  text-align: center;
}

.card {
  width: 28rem;
  margin: 20px auto;
  border: 1px solid blue !important;
}
